.header{
    background-color: #d3d3d3;
}
.neader-navigation{
    color: #000000;
}
.neader-navigation:hover,
.neader-navigation:focus{
    color: #303030;
}
.header-auth{
    color: #000000;
}
.header-auth:hover,
.header-auth:focus{
    color: #303030; 
}
.footer{
    background-color: #a9a9a9;
}
.box {
    position: relative;
    overflow:hidden;
    width:300px;
    height:300px;
 }
 
 .box img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;
    object-fit:cover;
 }
 .footer-auth{
    color: #000000;
}
.footer-auth:hover,
.footer-auth:focus{
    color: #303030; 
}